@font-face {
    font-family: "Figtree";  /* Choose a custom name */
    src: url("assets/fonts/static/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";  /* Choose a custom name */
    src: url("assets/fonts/static/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Figtree";  /* Choose a custom name */
    src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";  /* Choose a custom name */
    src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
}

#blog {
    height: 100vh;
    background-color: #F5D04E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: "Figtree";
    background-color: #FFFFFF;
    border: solid 1px black;
    border-width: 1px 8px 8px 1px;
    border-radius: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: hsl(0, 0%, 7%);
    width: 330px;
    row-gap: 8px;
    line-height: 2;
}

.container > * {
    height: auto;
    margin: 0;
}

.learning {
    background-color: #F5D04E;
    border-radius: 5%;
    display: inline-block;
    padding: 1px 15px;
}

.author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    height: 30px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0;
}

.learning, .author > h3{
    font-weight: 800;
}

p {
    color: hsl(0, 0%, 42%);
}

.illustration {
    width: 100%;
    border-radius: 5%
}

h2:hover {
    color: #F5D04E;
}

.attribution {
    position: absolute;
    bottom: 0;

}
